**
!pyproject.toml
!README.md
!LICENSE
!src/
!src/**
!evaluation/
!evaluation/federation-sandbox/
!evaluation/federation-sandbox/Dockerfile
!deploy/
!deploy/public-operator/
!deploy/public-operator/Dockerfile
